<!-- /*
* START Francis Nash Jasmin 2022/02/02
* 
* Added an import feature for admin where an excel file is used to add deals to the database.
* 
*/ -->
<form name="uploadForm">
    <!-- /*
    * START Francis Nash Jasmin 2022/02/21
    * 
    * Fixed layout of components and changed button name to Preview.
    * 
    */ -->
    <div class="col-md-12 form-inline">
        <label>Upload File to Add Deals</label>
        <input 
            type="file" 
            class="form-control input-sm" 
            id="file" 
            accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .xl*"
            name="file"
            ng-model="file"
            required
            file-upload
        />
        &nbsp;
        &nbsp;
        <button 
            type="submit" 
            class="btn btn-success"  
            ng-click="importExcel()"
            ng-disabled="uploadForm.$invalid"
        >
            Preview
        </button>
        <br />
        <br />
    </div>
    <!-- /*  END Francis Nash Jasmin 2022/02/21 */ -->
</form>
<div class="row" ng-show="showTable">
    <!-- /*
    * START Francis Nash Jasmin 2022/02/21
    * 
    * Added additional columns to the table preview.
    * 
    */ -->
    <div class="col-md-12 table-responsive">
        <table class="table table-hover compact dealTable normal-table">
            <thead>
                <tr>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            DocNumber
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            Customer
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            Subject
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            Level
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            Step
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            ServiceType
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            dspRespSales
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            dspRespDev
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            StartDate
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            EndDate
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            DueDate
                        </div>
                    </th>
                    <th ng-repeat="month in months" class="tContents">
                        <div class="tHeaders inline">
                            {{ month }}
                        </div>
                    </th>
                    <th ng-repeat="month in months" class="tContents">
                        <div class="tHeaders inline">
                            MM_{{ $index + 1 }}
                        </div>
                    </th>
                    <th ng-repeat="month in months" class="tContents">
                        <div class="tHeaders inline">
                            Yen_{{ $index + 1 }}
                        </div>
                    </th>
                    <th ng-repeat="month in months" class="tContents">
                        <div class="tHeaders inline">
                            MM_{{ $index + 1 }}J
                        </div>
                    </th>
                    <th ng-repeat="month in months" class="tContents">
                        <div class="tHeaders inline">
                            Yen_{{ $index + 1 }}J
                        </div>
                    </th>
                    <th ng-repeat="month in months" class="tContents">
                        <div class="tHeaders inline">
                            CM_{{ $index + 1 }}
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            BU Sales
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            BU Dev
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            Division
                        </div>
                    </th>
                    <th class="tContents">
                        <div class="tHeaders inline">
                            SD
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deal in importedDeals">
                    <td class="tContents">{{ deal.DocNumber }}</td>
                    <td class="tContents">{{ deal.Customer }}</td>
                    <td class="tContents">{{ deal.Subject }}</td>
                    <td class="tContents">{{ deal.Level }}</td>
                    <td class="tContents">{{ deal.Step }}</td>
                    <td class="tContents">{{ deal.ServiceType }}</td>
                    <td class="tContents">{{ deal.dspRespSales }}</td>
                    <td class="tContents">{{ deal.dspRespDev }}</td>
                    <td class="tContents">{{ formatDate(deal.StartDate) }}</td>
                    <td class="tContents">{{ formatDate(deal.EndDate) }}</td>
                    <td class="tContents">{{ formatDate(deal.DueDate) }}</td>

                    <td class="tContents" ng-repeat="month in months" style="text-align:right">
                        {{ formatDate(deal[month]) }}
                    </td>
                    <td class="tContents" ng-repeat="month in months" style="text-align:right">
                        {{ deal['MM_' + ($index+1)] }}
                    </td>
                    <td class="tContents" ng-repeat="month in months" style="text-align:right">
                        {{ deal['Yen_' + ($index+1)] }}
                    </td>
                    <td class="tContents" ng-repeat="month in months" style="text-align:right">
                        {{ deal['MM_' + ($index+1) + J] }}
                    </td>
                    <td class="tContents" ng-repeat="month in months" style="text-align:right">
                        {{ deal['Yen_' + ($index+1) + J] }}
                    </td>
                    <td class="tContents" ng-repeat="month in months" style="text-align:right">
                        {{ deal['CM_' + ($index+1)] }}
                    </td>

                    <td class="tContents">{{ deal.BU }}</td>
                    <td class="tContents">{{ deal.BUDev }}</td>
                    <td class="tContents">{{ deal.Division }}</td>
                    <td class="tContents">{{ deal.BUDev }}</td>
                </tr>
            </tbody>
        </table> 
    </div>
    <!-- /*  END Francis Nash Jasmin 2022/02/21 */ -->
</div>
<!-- /*
* START Francis Nash Jasmin 2022/04/19
* 
* Changed placement of Submit button so that the clicking of Preview button is optional when importing deals.
* 
*/ -->
<div style="padding: 10px;">
    <button 
        type="submit" 
        class="btn btn-success"  
        ng-click="submitOnClick()"
        ng-disabled="file === undefined || loading"
    >
        <span style="text-align:center" class="spinner" ng-show="loading">
            <i class="glyphicon glyphicon-refresh spinning"></i>
        </span>
        {{ buttonText }}
    </button>
    
</div>
<!-- /*  END Francis Nash Jasmin 2022/04/22 */ -->
<!-- /*  END Francis Nash Jasmin 2022/02 */ -->
