<div class="row">
    <div class="col-md-6">
        <form ng-submit="submit()">
            <!-- <label>Company Name(short):</label>
            <input type="text" name="short" ng-model="clientForm.cmpnyNameShort"><br>
            <label>Company Name(full):</label>
            <input type="text" name="full" ng-model="clientForm.cmpnyNameLong"><br>
            <label>Country:</label>
            <input type="text" name="country" ng-model="clientForm.country"><br>
            <label>Contact Person:</label>
            <input type="text" name="contactPerson" ng-model="clientForm.contactPerson"><br>
            <label>Contact Number:</label>
            <input type="text" name="contactNumber" ng-model="clientForm.contactNumber"><br>
            <button type="submit" class="btn btn-primary">Submit</button> -->

            <div ng-repeat="field in module.fields" ng-if="field.name !== 'status' ">
                <label>{{field.name | titleCase}}</label>
                <span style="color:red" ng-if="field.required">*</span>

                <input type="{{field.type}}" class="form-control" ng-if="field.type !== 'dropdown' && field.type !== 'textarea'" ng-model="clientForm[field.name]"
                    ng-required="field.required"/>

                <textarea class="form-control" ng-model="clientForm[field.name]" ng-if="field.type === 'textarea'" ng-required="field.required">
                        </textarea>
            </div>
            <br/>
            <!--*
            * START Dullao, Joshua 02/16/2022
            *
            * Added a cancel button and fixed the button positions
            *-->
            <div class="text-right">
                <button onclick="history.back()" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <!--/END 02/16/2022/-->
        </form>
    </div>
    <div class="col-md-6"></div>
</div>
