<div class="row">
</div>
<div class="row">
    <div class="col-md-10 form-inline">
        <!--START Francis Nash Jasmin 20220519
        Added Options Dropdown-->
        <label>Options: </label>
        <select class="form-control displayOptionsBox" ng-model="displayOption" ng-change="getAllUsers()">
            <option>Active</option>
            <option>Inactive</option>
            <option>ALL</option>
        </select>
        &nbsp;&nbsp;
        <!--END Francis Nash Jasmin 20220519-->
        <label for="pageSize">Page size: </label>
         <!--/*
        *START Dullao, Joshua 02/11/2022
        *
        *Disabled decimal input in the page size
        *
        */-->
        <input id="pageSize" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="pageSize" class="form-control" min="1" max={{users.length}}>
        <!--/ END Dullao, Joshua 02/11/2022-->
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-primary" ui-sref="UserForm">New User</button>
    </div>
</div>
<br/>
<div class="row div-padded">
    <div class="col-md-12 table-responsive">
        <div style="text-align:center" class="spinner" ng-show="loading">
            <img src="loader.gif" />
        </div>
        <table class="table table-hover userTable normal-table table-striped">
            <thead id="header-fixed">
                <th class="tHeaders" ng-repeat="field in module.fields | filter:{ showInList: true }" >
                    <div class="inline">
                        {{field.name | titleCase}}
                        <div ng-click="sortColumn(field.name)" ng-class="sortClass(field.name)"/>
                    </div>
                </th>
                <th class="tHeaders" style="text-align: center;">Active</th>
                <th></th>
            </thead>
            <tbody>
                <!-- START 05162022 Dullao, Joshua -->
                <!-- Removed the status filter -->
                <tr ng-repeat="user in users | orderBy : column : reverse | filter : searchText | pagination: (currentPage - 1) * pageSize | limitTo: pageSize ">
                <!-- END 05162022 Dullao, Joshua -->
                    <td class="tContents" ng-repeat="field in module.fields | filter:{ showInList: true }">
                        {{user[field.name]}}
                    </td>
                    <!-- START 05162022 Dullao, Joshua -->
                    <!-- Added an active or inactive checkbox -->
                    <td class="tools">
                        <input type="checkbox" ng-model="user.status" ng-change="deleteUser(user._id)" />
                    </td>
                    <!-- END 05162022 Dullao, Joshua -->
                    <td class="tools">
                        <a>
                            <i class="fa fa-list-alt" aria-hidden="true" ui-sref="UserForm({_id: user._id})" data-toggle="tooltip" title="Edit" ng-click="disableEmailInput()"></i>
                        </a>
                        &nbsp;
                        <!-- START 05162022 Dullao, Joshua -->
                        <!-- Removed the delete button -->
                        <!-- <a>
                            <i class="fa fa-trash" aria-hidden="true" ng-click="deleteUser(user._id)" data-toggle="tooltip" title="Deactivate"></i>
                        </a> -->
                        <!-- END 05162022 Dullao, Joshua -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <ul class="pagination" uib-pagination total-items="users.length" ng-model="currentPage" items-per-page="pageSize" boundary-links="true"
        max-size="3" force-ellipses="true" first-text="<<" previous-text="<" next-text=">" last-text=">>"></ul>
</div>
       