<div class="container-fluid">
    <div id="overlay"></div>
    <div class="row">
        <div class="sidenav">
            <svg width="30" height="30">
                <img class="logo" src="logo.png"/>
            </svg>
            <br><br><br>
            <!--/*
            /*START Dullao, Joshua 2/18/2022
            *
            * Added active selector to highligh the active tab in side nav
            *
            */-->
            <div>
                <a class="nav_home" ui-sref="home" ui-sref-active="active"><b>Home</b></a>
            </div>
            <hr>
            <label class='navCategory'>Main</label>
            <div>
                <!-- /*
                * START Dullao, Joshua 02/21/2022
                * 
                * Added add icon on the Deals and Client nav items
                * 
                */ -->
                <div class="row navTabs" ui-sref-active="active">
                    <a class="nav_deals col-md-9" ui-sref="dealList">Deals</a> 
                    <i class="fa fa-plus-square col-md-2" ui-sref="dealForm" ></i>
                </div>
                <div class="row navTabs" ui-sref-active="active">
                    <a class="nav_clients col-md-9" ui-sref="clientList">Clients</a>
                    <i class="fa fa-plus-square col-md-2 " ui-sref="ClientForm"></i>
                </div>
                <!-- /*  END Dullao, Joshua 02/23/2022 */  -->
                

                <!-- /*
                * START Francis Nash Jasmin 2022/01/31
                * 
                * Added export directory to the deals app.
                * 
                */ -->
                <a class="nav_exports" ui-sref="export" ui-sref-active="active">Export</a>
                <!-- /*  END Francis Nash Jasmin 2022/01/31 */  -->
            </div>
            <hr>
            <div ng-if="user.role === 'Admin'">
                <label class='navCategory'>Admin</label>
                <a ui-sref="fields" ui-sref-active="active">Fields</a>
                <div>
                    <div class="row navTabs" ui-sref-active="active">
                        <a class="nav_BU col-md-9" ui-sref="BUList">Business Units</a> 
                        <i class="fa fa-plus-square col-md-2" ui-sref="BUForm" data-toggle="tooltip" title="Add New Business Unit"></i>
                    </div>
                    <div class="row navTabs" ui-sref-active="active">
                        <a class="nav_users col-md-9" ui-sref="UserList">Manage Users</a>
                        <i class="fa fa-plus-square col-md-2 " ui-sref="UserForm" data-toggle="tooltip" title="Add New User"></i>
                    </div>
                </div>
                <!-- /*
                * START Francis Nash Jasmin 2022/01/31
                * 
                * Added import directory to the deals app.
                * 
                */ -->
                <a ui-sref="import" ui-sref-active="active">Import Deals</a>
                <!-- /*  END Francis Nash Jasmin 2022/01/31 */  -->
                <hr>
            </div>
            
            <label class='navCategory'>Settings</label>
            <div>
                <a ui-sref-active="active" ui-sref="changePassword">Change Password</a>
                <a ui-sref-active="active" href="#" ng-click="logout()">Logout</a>
            </div>
            <!--/END Dullao, Joshua 02/18/2022-->
        </div>
        <div class="main">
            <div ui-view class="main-page"></div>
        </div>
    </div>
</div>


