<div class="row">
    <div class="col-md-10 form-inline">
        <label for="pageSize">Page size: </label>
        <input id="pageSize" type="number" ng-model="pageSize" class="form-control" min="1" max={{businessUnits.length}} step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-primary" ui-sref="BUForm">New BU</button>
    </div>
</div>
<br/>
<div class="row div-padded">
    <div class="col-md-12 table-responsive">
        <div style="text-align:center" class="spinner" ng-show="loading">
            <img src="loader.gif" />
        </div>
        <table class="table table-hover normal-table">
            <thead>
                <th ng-repeat="field in module.fields | filter:{ showInList: true }" ng-click="sortColumn(field.name)" ng-class="sortClass(field.name)">
                    {{field.name}}
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr style="font-size: 10px;" ng-repeat="businessUnit in businessUnits | orderBy : column : reverse | filter : searchText | filter: {status: true} | pagination: (currentPage - 1) * pageSize | limitTo: pageSize ">
                    <td ng-repeat="field in module.fields | filter:{ showInList: true }">
                        {{businessUnit[field.name]}}
                    </td>
                    <td>
                        <a>
                            <i class="fa fa-list-alt" aria-hidden="true" ui-sref="BUForm({_id: businessUnit._id})" data-toggle="tooltip" title="Edit"></i>
                        </a>
                        &nbsp;
                        <a>
                            <i class="fa fa-trash" aria-hidden="true" ng-click="deleteBU(businessUnit._id)" data-toggle="tooltip" title="Deactivate"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div >
            <ul class="pagination" uib-pagination total-items="businessUnits.length" ng-model="currentPage" items-per-page="pageSize"
            boundary-links="true" max-size="3" force-ellipses="true" first-text="<<" previous-text="<" next-text=">" last-text=">>"></ul>
        </div>
    </div>
    </div>
</div>

        
