<div class="row">
    <div class="col-md-10 form-inline">
        <label for="pageSize">Page size: </label>
        <input id="pageSize" type="number" ng-model="pageSize" class="form-control" min="1" max={{businessUnits.length}} step="1"  onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
    <!--START Reynaldo Pena Jr. 20220519
    Added Options Dropdown-->
    <label>Options: </label>
    <select class="form-control displayOptionsBox" ng-model="displayOption" ng-change="getAllBUs()">
        <option>Active</option>
        <option>Inactive</option>
        <option>ALL</option>
    </select>
    &nbsp;&nbsp;
    <!--END Reynaldo Pena Jr. 20220519-->
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-primary" ui-sref="BUForm">New BU</button>
    </div>
</div>
<br/>
<div class="row div-padded">
    <div class="col-md-12 table-responsive">
        <div style="text-align:center" class="spinner" ng-show="loading">
            <img src="loader.gif" />
        </div>

    <!--Reynaldo Pena Jr. START February 18, 2022 
    Added CSS selectors    -->
        <table class="table table-hover buTable normal-table table-striped">
            <thead id="header-fixed">
                <th class="tHeaders" ng-repeat="field in module.fields | filter:{showInList: true }" >
                    <div class="inline">
                        {{field.name}}
                        <div ng-click="sortColumn(field.name)" ng-class="sortClass(field.name)"/>
                    </div>
                </th>
            <th class="tHeaders" style="text-align: center;">Active</th>
            <th></th>
            </thead>
            <tbody>
                <!-- START 05162022 Dullao, Joshua -->
                <!-- Removed the status filter -->
                <tr ng-repeat="businessUnit in businessUnits | orderBy : column : reverse | filter : searchText | pagination: (currentPage - 1) * pageSize | limitTo: pageSize ">
                <!-- END 05162022 Dullao, Joshua -->
                  
                    <td class="tContents" ng-repeat="field in module.fields | filter:{

 showInList: true }">
                        {{businessUnit[field.name]}}
                    </td>
                    <!-- START 05162022 Dullao, Joshua -->
                    <!-- Added an active or inactive checkbox -->
                    <td class="tools">
                        <input type="checkbox" ng-model="businessUnit.status" ng-change="deleteBU(businessUnit._id)" />
                    </td>
                    <!-- END 05162022 Dullao, Joshua -->
                    <td class="tools">
                        <a>
                            <i class="fa fa-list-alt" aria-hidden="true" ui-sref="BUForm({_id: businessUnit._id})" data-toggle="tooltip" title="Edit"></i>
                        </a>
                        &nbsp;
                        <!-- START 05162022 Dullao, Joshua -->
                        <!-- Removed the delete button -->
                        <!-- <a>
                            <i class="fa fa-trash" aria-hidden="true" ng-click="deleteBU(businessUnit._id)" data-toggle="tooltip" title="Deactivate"></i>
                        </a> -->
                        <!-- END 05162022 Dullao, Joshua -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Reynaldo Pena Jr. END February 18, 2022-->
<div>
    <ul class="pagination" uib-pagination total-items="businessUnits.length" ng-model="currentPage" items-per-page="pageSize"
        boundary-links="true" max-size="3" force-ellipses="true" first-text="<<" previous-text="<" next-text=">" last-text=">>"></ul>
</div>